@import "../../vendor/photon/sass/variables.scss";

@import "alert-variables.scss";
@import "alert-mixins.scss";
@import "alert-functions.scss";

//
// Base styles
//

.alert {
  // font-family: "Courier New", Courier, monospace;
  // font-weight: bold;
  padding: $alert-padding-y $alert-padding-x;
  margin: 3px;
  margin-bottom: 0;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

.alert-dismissible {
  padding-right: $alert-padding-x + 0.1rem;

  // Adjust close link position
  .close {
    // bootstrap global .close
    float: right;
    font-size: $close-font-size;
    font-weight: $close-font-weight;
    text-decoration: none;
    line-height: 1;
    color: $close-color;
    text-shadow: $close-text-shadow;
    @include opacity(.2);

    &:hover,
    &:focus {
      color: $close-color;
      cursor: pointer;
      @include opacity(.5);
    }
    // alert.close:
    position: relative;
    top: -4px;
    right: -10px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
  }
}
